main {
  background-color: rgb(193, 193, 255);
  margin: 2em 10em;
  padding: 1em 2em;

  border: 5px solid rgb(146, 146, 254);
  border-radius: 2em;
}

h1 {
  text-align: center;
}

main {
  display: flex;
  justify-content: space-around;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img,
h2,
h3 {
  cursor: pointer;
}

.withdraw,
.deposit {
  width: 100px;
  margin-top: 20px;
}

.balance {
  width: 180px;
}

.balance-display {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
}

footer {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  color: gray;
}

footer a {
  text-decoration: none;
  color: gray;
}

footer a:hover {
  text-decoration: underline;
  color: black;
}
